<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://todolist-complete.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>todolist-complete.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>todolist-complete</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$todolist-complete</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MS_TableConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:qzhinfbal6.database.windows.net,1433;Initial Catalog=todolist-glenga-migrations_db;User ID=ggailey777@qzhinfbal6;Password=VicTor11" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="todolist_completeService.Models.todolist_completeContext, todolist_completeService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MS_NotificationHubConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://todolist-complete-ns.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=2b7JKaYGubIsKn0Ia0/LcLnBo7oLU77+AnEGvamJI0o=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MS_NotificationHubConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=sb://todolist-complete-ns.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=2b7JKaYGubIsKn0Ia0/LcLnBo7oLU77+AnEGvamJI0o=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MS_NotificationHubConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qzhinfbal6.database.windows.net,1433;Initial Catalog=todolist-glenga-migrations_db;User ID=ggailey777@qzhinfbal6;Password=VicTor11</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>